/* <=====all common style here======> */
* {
  margin: 0;
  padding: 0;
}
.contener {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding:0 32px;

}
.join-btn {
  border-radius: 8px;
  background-color: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
  border: none;
  transition: 0.3s;
}
.join-btn:hover {
  cursor: pointer;
  background-color: rgb(216, 0, 0);
}
.icon1,
.icon2 {
  margin-top: 7px;
}
.icon1 {
  margin-left: -15px;
}
span {
  color: #f00;
}
hr {
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  margin-top: 50px;
}
/* <==========banner start here============> */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner-image.png");
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 100%;
  margin-top: 50px;
  background-size: cover;
}
.banner > h4 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
  padding-bottom: 16px;
}
.banner > h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  width: 48%;
  max-width: 632px;
  margin: auto;
  padding-bottom: 177px;
}
/* <==============off section start here==========> */
.off-contener {
  width: 50%;
  max-width: 803px;
  margin: auto;
}
.off-text > h1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
}
.off-text > h6 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}
.off-text > h5 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
}
.off-text {
  width: 60%;
  max-width: 450px;
  margin: auto;
  text-align: center;
}
.off-img {
display: flex;
justify-content: center;
  margin-top: 48px;
}
/* <===============welcome section start here===========> */
.welcome-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/vector.png");
  border-radius: 15px;
  background-repeat: no-repeat;
  width: 100%;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  padding-left: 200px 0px;
  background-size: cover;
}
.welcome-text > h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
.welcome-text > p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 70%;
  margin: 0 auto;
  margin-top: 24px;
}
.btn {
  margin-left: 147px;
  margin-top: 48px;
  margin-bottom: 137px;
}
.welcome-photo {
  margin-right: 30px;
  margin-top: 70px;
}
/* <===========join section start here===========> */
.join {
  background-image: linear-gradient(#ffe7e7, white);
  border-radius: 15px;
}
.join-ditels {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 100px;
}
.btn-extra {
  margin: 48px 570px 110px 570px;
}
/* <============coming soon section start here============> */
.coming-soon-contener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.coming-soon-contener .coming-text > h6 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.coming-soon-contener .coming-text > h3 {
  color: #070211;

  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 5px;
}
.coming-soon-contener .coming-text > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 440px;
  margin-top: 22px;
}
.coming-soon-contener .coming-wish > h3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.coming-soon-contener .coming-wish > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 340px;
  margin-top: 5px;
}
.new-year-flag {
  margin-top: 45px;
}
.coming-soon-contener .coming-pic {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 50%;
  border: 12px red solid;
}
/* <==============holiday section start here==============> */
.holiday-text {
  width: 82%;
  max-width: 1070px;
  margin: auto;
  margin-top: 120px;
}
.holiday-text > h6 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.holiday-text > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  margin-top: 16px;
}
.holiday-text > p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 28px;
}
.holiday-bg {
  background-image: url("../images/holiday-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
.holiday-content2 {
  margin-top: 5px;
  position: relative;
}
.discount {
  position: absolute;
  top: 80px;
  left: -150px;
}
/* <===========portfolio section start==============> */
#portfolio {
  margin-top: 120px;
}
.port-info {
  width: 68%;
  max-width: 900px;
}
.port-info > h6 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
}
.port-info > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 22px;
}
.port-info {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.port-contener {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  margin-top: 50px;
}
.pic-card {
  width: 424px;
  height: 450px;
  overflow: hidden;
  transition: 0.75ms;
  border-radius: 15px;
}
.pic-card > img {
  width: 100%;
  transition: 0.75s;
}

.pic-card > img:hover {
  transform: scale(1.5);
  cursor: pointer;
}
/* <====================subscribe section start here===============> */
.subscribe {
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 15px;
  margin-top: 120px;
}
.logo {
  width: 100%;
  text-align: center;
  padding-top: 80px;
}
.subscribe-text {
  width: 68%;
  max-width: 900px;
  margin: auto;
  text-align: center;
}
.subscribe-text > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 40px;
}
.subscribe-text > p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 22px;
}
.inputs {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 80px;
}

.inputs > input {
  border-radius: 50px;
  background: #fff;
  padding: 25px 20px;
  padding-right:50px ;
  border: none;
  width: 300px;
  outline: none;
}
.inputs > button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 25px 55px;
  margin-left: -50px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.3s;
}
.inputs > button:hover {
  cursor: pointer;
  background: rgb(221, 19, 19);
}
/* <=============footer section start here================> */
#footer {
  background-color: #070211;
  margin-top: 120px;
}
.address {
  display: flex;
  justify-content: space-between;
}
.for-icons {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 16px;
}
.address > h3 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  width: 29%;
  max-width: 375px;
  margin-top: 120px;
}
.contact {
  width: 18%;
  max-width: 250px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 120px;
}
.social-link {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 48px;
}
.right-reserved {
  display: flex;
  justify-content: space-between;
}
.right-text > h5 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
}
.right-btn > button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  border: none;
  margin-top: 50px;
  margin-bottom: 120px;
  transition: 0.5s;
}
.right-btn > button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #f00;
}
